<!-- файл, который запускает необходимые для работы узлы -->
<launch>
	<!-- узел, который шлет онлайн метки в топик onliner -->
	<node name="onliner" pkg="can_robot_driver" type="onliner">
	<!-- тут можно задать параметры узла -->
	</node>

	<node name="joystic_controll" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py">
 	<remap from="/cmd_vel" to="/robot1/cmd_vel"/>
 	<remap from="/prong_vel" to="/robot1/prong_vel"/>
 	</node> 
</launch>
